[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
Flask-SQLAlchemy = "*"
flask-marshmallow = "*"
SQLAlchemy-serializer = "*"
marshmallow-sqlalchemy = "*"
mysqlclient = "*"
db = "*"
pyyaml = "*"
requests = "*"
response = "*"

[dev-packages]

[requires]
python_version = "3.9"
